- content_for :title do
  = @title

- content_for :html_head do
  :javascript
    var app_root = "#{app_root}";
    var omikuji_api = "#{app_root}/omikuji.json";

- content_for :html_foot do
  %script{:src => "#{app_root}/js/main.js"}

%div#header
  %h1= @title
%div#main
  %div
    %input{:id => 'start_btn', :type => 'button', :value => 'start'}
  %div
    %h2 result
    %ul#results
